@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
        url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('../fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Livvic', sans-serif;
    background-color: #014E56;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    margin-bottom: 140px;
}
.header-content{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    width: 49px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}
.myteam-logo{
    margin-right: 80px;
}
.text-space{
    margin-right: 40px;
}
.button{
    width: 153px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: #014E56;
}
.button:hover{
    cursor: pointer;
    width: 153px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #014E56;
    color: #014E56;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: white;
}
.hero-content{
    display: flex;
    justify-content: space-between;
}
.hero-title{
    width: 350px;
    height: 200px;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 250px;
}
.color-red{
    color: #F67E7E;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.hero-card2{
    display: flex;
    flex-direction: column;
}
.hero-line{
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: #F67E7E;
    margin-bottom: 40px;
}
.hero-text{
    width: 730px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.directors-section{
    background-color: #004047;
    background-image: url("../images/element-bg8.png"), url("../images/element-bg9.png");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50% - 759px) calc(50% - 425px), calc(50% + 700px) calc(50% + 475px);
}
.director-title-text{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}
.director-title{
    padding-top: 140px;
    width: 920px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}
.directors-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    gap: 30px;
    padding-bottom: 168px;
}
.director-border{
    margin-bottom: 133px;
}
.directors-card1{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #012F34;
    text-align: center;
}
.directors-name{
    display: flex;
    flex-direction: column;
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.directors-text{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
}
.border-radius{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 56px;
    background: #F67E7E;
}
.border{
    font-size: 28px;
}
.border-radius-color{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 56px;
    background: #79C8C7;
}
.directors-text1{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 254px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.footer-clients{
    background-color: #012F34;

}
.footer-title-text{
    margin-top: 140px;
    margin-bottom: 64px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.footer-color{
    background-color: #F67E7E;
}
.footer-card{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 76px;
    padding-bottom: 76px;
}
.footer-title{
    color: #012F34;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.footer-img{
    margin-bottom: 140px;
}
.footer-button{
    cursor: pointer;
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid black;
    color: #012F34;
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: #F67E7E;
}
.footer-button:hover{
    cursor: pointer;
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid black;
    color: #F67E7E;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: #012F34;
}
.footer-bg{
    background-color: #002529;
}
.footer-end{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer-end-logo{
    flex-shrink: 0;
}
.footer-end-text{
    width: 445px;
    color: #FFF;
    opacity: 0.6;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.footer-link{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}
.footer-link + .footer-link{
    margin-left: 40px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}
.footer-card3{
    text-align: right;
    cursor: pointer;
}
.footer-svg{
    flex-shrink: 0;
    text-align: right;
}
.footer-text{
    margin-top: 51px;
    width: 255px;
    color: #FFF;   
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}
@media only screen and (max-width:768px){
    .myteam-logo{
        margin-right: 48px;
        margin-left: 10px;
        width: 128px;
        height: 32px;
    }
    .site-header{
        background-image: url("../images/about-img.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .hero-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-title{
        text-align: center;
        margin-bottom: 24px;
        height: 60px;
    }
    .hero-line{
        width: 0;
        height: 0;
        display: inline;
    }
    .hero-text{
        text-align: center;
        width: 444px;
    }
    .hero-card2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 186.667% */
        padding-bottom: 112px;
    }
    .team-title{
        width: 100%;
    }
    .teams-content{
        flex-direction: column;
        gap: 64px;
    }
    .teams{
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding-left: 80px;
    }
    .team-text{
        padding-top: 32px;
    }
    .teams-text{
        margin-top: 16px;
    }
    .card1{
        display: flex;
        justify-content: center;
    }
   .stories{
    display: flex;
    flex-direction: column;
    background-image: url("../images/stories-svg.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
   }
   .stories-title{
    margin-bottom: 84px;
   }
   .stories-text2{
    margin-top: 0;
   }
   .stories-img{
    margin-bottom: 110px;
   }
   .stories-content{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .footer-bg{
    padding-bottom: 56px;
   }
   .footer{
    background-image: url("../images/ready-svg.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
   }
   .footer-title{
    color: #012F34;
    font-family: Livvic;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
    margin-right: 84px;
   }
   .footer-clients{
    background-image: url("../images/element-bg10.svg");
    background-repeat: no-repeat;
    background-position: left top;
   }
   .footer-card1{
    margin-bottom: 33px;
   }
   .footer-card{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .footer-end-logo{
    width: 96px;
    height: 24px;
    margin-bottom: 53px;
   }
   .footer-img{
    padding-left: 49px;
    width: 689px;
    height: 28px;
    flex-shrink: 0;
     
   }
   .footer-link{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
   }
   .footer-end{
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
   }
   .footer-end-text{
    width: auto;
   }
   .footer-card3{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .footer-box{
    display: flex;
    flex-direction: column;
   }
   .footer-text{
    margin-top: 0;
   }
   .directors-section{
    background-image: url("../images/directors-svg2.svg");
    background-repeat: no-repeat;
    background-position: left top;
   }
   .directors-card{
    background-image: url("../images/directors-svg.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
   }
   .directors-card1{
    width: 281px;
   }
}
@media only screen and (max-width: 376px) {
    .header-text{
        display: none;
    }
    .header-logo{
        width: 128px;
        height: 32px;
    }
    .button{
        display: none;
    }
    .site-header{
        background-image: none;
    }
    .header{
        margin-bottom: 80px;
    }
    .hamburger-btn{
        display: block;
        background-color: #014E56;
    }
    .hero-content{
        width: 327px;
    }
    .hero-title{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 100% */
    }
    .color-red{
        color: #F67E7E;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    .hero-card1{
        display: flex;
        justify-content: center;
        width: 327px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .hero-card2{
        display: flex;
        justify-content: center;
        width: 369px;
        padding-left: 24px;
        padding-right: 24px;
        background-image: url("../images/about-mobile-img.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .hero-text{
        width: 327px;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 186.667% */
    }
    .hero-line{
        display: none;
    }
    .directors-section{
        background-image: url("../images/directors-mobile-img.svg");
        background-repeat: no-repeat;
        background-position: left top;
    }
    .director-title{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
    .card{
        width: 240px;
    }
    .team-title{
        color: #FFF;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
    .team-line{
        margin-top: 64px;
        margin-bottom: 32px;
    }
    .team-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .teams{
        padding-left: 24px;
        padding-bottom: 0;
        background-image: url("../images/build-logo.svg");
        background-repeat: no-repeat;
        background-position: right top;
    }
    .card1{
        width: 327px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    .team-title-color{
        width: 327px;
        display: inline-block;
        color: #F67E7E;
        text-align: center;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
    }
    .teams-text{
        width: 327px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
    }
    .stories-title-text{
        width: 327px;
    }
    .stories-title{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
    .stories-text-color{
        color: #79C8C7;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
    .stories-text2{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
    }
    .stories-text{
        color: #79C8C7;
        text-align: center;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
    }
    .stories-text3{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 13px;
        font-style: italic;
        font-weight: 500;
        line-height: 18px; /* 138.462% */
    }
    .stories{
        background-image: none;
    }

    .stories-section{
        background-image: url("../images/stories-mobile-img1.svg") , url("../images/stories-mobile-img2.svg");
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
    .footer-clients{
        background-image: url("../images/clients-mobile.svg");
        background-repeat: no-repeat;
        background-position: left top;
    }
    .footer-card{
        padding-left: 24px;
        padding-right: 24px;
        width: 327px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
    .footer-title{
        color: #012F34;
        text-align: center;
        font-family: Livvic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
        margin: 0;
    }
    .footer-button{
        margin-top: 24px;
        margin-bottom: 83px;
    }
    .footer{
        background-image: url("../images/ready-mobile-img.svg");
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    .footer-end{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .footer-card3{
        flex-direction: column;
        gap: 16px;
    }
}
